apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: 37.2.0
    chart: traefik
    helm:
      values: |
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
        podAnnotations:
          pin-major.version-checker.io/traefik: 2
        ports:
          web:
            redirections:
              entryPoint:
                to: websecure
                scheme: https
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  project: cluster-essentials
  syncPolicy:
    automated:
      prune: true
      selfHeal: true